@{
    ViewData["Title"] = "Home Page";
}

<a style="color: black" class="btn btn-success" href="/Gift/AllGifts">All Gifts</a>
<a style="color: black" class="btn btn-success" href="/Employee/AllEmployees">All Employees</a>