@using BirthdayPresent.Core.ViewModels.Employee;
@model IEnumerable<AllEmployeesViewModel>

@{
    ViewData["Title"] = "All Employees";
}

<h2>All Employees</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Employee Name</th>
            <th>Employee Date of Birth</th>
            <th>Actions</th> <!-- Add a column for the actions -->
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.FirstName @employee.LastName</td>
                    <td>@employee.DateOfBirth</td>
                    <td>
                        @if (employee.DateOfBirth > DateTime.UtcNow)
                        {
                            @if (!employee.HasActiveSessionForYear && !employee.HasActiveGlobalSession)
                            {
                                <a class="btn btn-primary" asp-action="CreateVoteSession" asp-controller="VoteSession" asp-route-birthdayEmployeeId="@employee.Id">
                                    Create Birthday Vote Session
                                </a>
                            }
                            else if (employee.HasActiveGlobalSession)
                            {
                                <span class="text-muted">An active session is already in progress</span>
                            }
                            else
                            {
                                <span class="text-muted">Session created</span>
                            }
                        }
                        else
                        {
                            <span class="text-muted">Birth day passed</span>
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="3">No employees available.</td>
            </tr>
        }
    </tbody>
</table>




<script>
    function createSession(employeeId) {
        // Add your logic here for handling the session creation
        alert("Creating a birthday session for employee ID: " + employeeId);
        // Optionally, make an AJAX call to the server to create the session
    }
</script>
